
#header
  .wrapper.clearfix
    .navbar.navbar-inverse
      .navbar-inner
        .container
          .nav-collapse.collapse
            ul.nav.left-nav
              li
                a(href="/music") 故事列表
              li
                a(href="/music/admin/list") 所有故事管理
              li
                a(href="/music/cat/admin/list") 首页分类管理
              li
                a(href="/music/message/list") 消息管理
